<!-- @format -->
<div class="mt-4 p-5 bg-warning text-white rounded">
    <h1><%=title %></h1>
</div>
<%- include("../partials/head") %> <%- include("../partials/menu") %>

<body>
    <p>
        We started this operation in 1899, to show our commitment to faculty and students at Purdue University.
    </p>
    <%- include("../partials/footer") %>
</body>
