<!-- @format -->
<%- include("../partials/head") %> 
<div class="mt-4 p-5 bg-warning text-white rounded">
    <h1><%=title %></h1>
</div>


<%- include("../partials/menu") %>
<body>
    <p>
        Contact us at purduepete@example.com
    </p>
    <%- include("../partials/footer") %>
</body>
